# Dependencies
**/node_modules
**/package-lock.json

# Backend specific
/backend/dist
/backend/.env
/backend/coverage

# Frontend specific
/frontend/build
/frontend/coverage
/frontend/.env

# TypeScript
**/*.tsbuildinfo

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Cache
**/.cache 